.gallery {
  display: flex;
  gap: 24px;
  list-style-type: none;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.gallery-item,
.gallery-image {
  width: 360px;
  height: 200px;
  cursor: pointer;
}

.gallery-image {
  transition: 300ms;
}

.gallery-image:hover {
  transform: scale(1.05);
}